@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 480px) {
  .responsive-xs {
    background-color: D#ff49db; /* Pink background for extra small screens */
    padding: 1rem; /* Padding for extra small screens */
    font-size: 0.875rem; /* Font size for extra small screens */
  }
}

@media (min-width: 640px) {
  .responsive-sm {
    background-color: #1fb6ff; /* Blue background for small screens */
    padding: 1.5rem; /* Padding for small screens */
    font-size: 1rem; /* Font size for small screens */
  }
}

@media (min-width: 768px) {
  .responsive-md {
    background-color: #13ce66; /* Green background for medium screens */
    padding: 2rem; /* Padding for medium screens */
    font-size: 1.125rem; /* Font size for medium screens */
  }
}

@media (min-width: 1024px) {
  .responsive-lg {
    background-color: #ff7849; /* Orange background for large screens */
    padding: 2.5rem; /* Padding for large screens */
    font-size: 1.25rem; /* Font size for large screens */
  }
}

@media (min-width: 1280px) {
  .responsive-xl {
    background-color: #7e5bef; /* Purple background for extra large screens */
    padding: 3rem; /* Padding for extra large screens */
    font-size: 1.5rem; /* Font size for extra large screens */
  }
}

@media (min-width: 1536px) {
  .responsive-2xl {
    background-color: #ffc82c; /* Yellow background for 2x extra large screens */
    padding: 3.5rem; /* Padding for 2x extra large screens */
    font-size: 1.75rem; /* Font size for 2x extra large screens */
  }
}
